.login-title{
    font-size: 3rem;
    font-weight: 600;
    color:#9249DE
}

.button-group{
    width: 100%;
    margin: 3rem auto 2rem auto;
}

.login-button-section{
    gap:2rem;
    margin-bottom: 4em;
}

.line{
    border-top:1px solid #cecece;
    padding-bottom: 10px;
    width: 90%;
    margin: auto;
}