.login-title{
    font-size: 3rem;
    font-weight: 600;
    color:whitesmoke
}

.login-subtitle{
    opacity: .65;
    font-size: 15px;
    margin: -0.5rem 0 0.5rem 0;
    color:whitesmoke
}

.button-group{
    width: 100%;
    margin: 2rem auto 0 auto;
}

.login-button-section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

.divider{
    display: flex;
    align-items: center;
    gap: .75rem;
    margin: 1.5rem 0;
}

.line{
    border-top:.3px solid rgba(255, 255, 255, 0.15);
    flex: 1;
    margin: 0;
    padding-bottom: 0;
}

.divider-text{
    opacity: .5;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .05em;
       color:whitesmoke
}

.register-prompt{
    opacity: .8;
    font-size: 14px;
       color:whitesmoke
}
